.g-wrapper
	.product
		.product__title
			.product__title-text
				span Аксессуары
				span /
				span Запонки Dalvey Admiralty
			.product__title-cart
				a(href="#") Перейти в корзину
				i.fa.fa-shopping-cart
		.product__block
			#lightSlider
				li(data-thumb="/images/product.jpg")
					img(src="/images/product.jpg")
				li(data-thumb="/images/product.jpg")
					img(src="/images/product.jpg")
				li(data-thumb="/images/product.jpg")
					img(src="/images/product.jpg")
				li(data-thumb="/images/product.jpg")
					img(src="/images/product.jpg")
				li(data-thumb="/images/product.jpg")
					img(src="/images/product.jpg")
		.product__block
			.product__block-title Наименование
			.product__block-text Запонки Dalvey Admiralty
			.product__block-title Артикул
			.product__block-title Категория
			.product__block-text Арт. 000321
			.product__block-text Запонки
			.product__block-title Материал
			.product__block-title Цвет
			.product__block-text Нефрит
			.product__block-text Черный
			.product__block-title Описание
			.product__block-text Эсхатологическая идея вырождена. Ощущение мира нетривиально. Ощущение мира трогательно наивно. Отношение к современности реально оспособляет закон исключённого третьего. Деонтология подчеркивает интеллект. Вероятностная логика, как следует из вышесказанного, вырождена.
			.product__block-info
				.product__block-info__title Стоимость
				.product__block-info__title Наличие
				.product__block-info__price 2 499 руб.
				.product__block-info__instock В наличии
				.product__block-info-button
					button(type="button") Купить
		.product__title Похожие товары
		.product__relatedslider
			.swiper-container.slider6
				.swiper-wrapper
					.swiper-slide
						.product__relatedslider-slide
							.product__relatedslider-slide-image(style="background: url(/images/product.jpg) 50% 50% no-repeat; background-size: contain;")
							.product__relatedslider-slide-title Запонки Dalvey Admiralty
							.product__relatedslider-slide-prop Материал:
								span нефрит
							.product__relatedslider-slide-prop Цвет:
								span.color-product
							.product__relatedslider-slide-footer
								.product__relatedslider-slide-footer__item 2499 руб.
								.product__relatedslider-slide-footer__item
									button(type="button") Купить
					.swiper-slide
						.product__relatedslider-slide
							.product__relatedslider-slide-image(style="background: url(/images/product.jpg) 50% 50% no-repeat; background-size: contain;")
							.product__relatedslider-slide-title Запонки Dalvey Admiralty
							.product__relatedslider-slide-prop Материал:
								span нефрит
							.product__relatedslider-slide-prop Цвет:
								span.color-product
							.product__relatedslider-slide-footer
								.product__relatedslider-slide-footer__item 2499 руб.
								.product__relatedslider-slide-footer__item
									button(type="button") Купить
					.swiper-slide
						.product__relatedslider-slide
							.product__relatedslider-slide-image(style="background: url(/images/product.jpg) 50% 50% no-repeat; background-size: contain;")
							.product__relatedslider-slide-title Запонки Dalvey Admiralty
							.product__relatedslider-slide-prop Материал:
								span нефрит
							.product__relatedslider-slide-prop Цвет:
								span.color-product
							.product__relatedslider-slide-footer
								.product__relatedslider-slide-footer__item 2499 руб.
								.product__relatedslider-slide-footer__item
									button(type="button") Купить
					.swiper-slide
						.product__relatedslider-slide
							.product__relatedslider-slide-image(style="background: url(/images/product.jpg) 50% 50% no-repeat; background-size: contain;")
							.product__relatedslider-slide-title Запонки Dalvey Admiralty
							.product__relatedslider-slide-prop Материал:
								span нефрит
							.product__relatedslider-slide-prop Цвет:
								span.color-product
							.product__relatedslider-slide-footer
								.product__relatedslider-slide-footer__item 2499 руб.
								.product__relatedslider-slide-footer__item
									button(type="button") Купить
			.swiper-button-prev
				i.fa.fa-arrow-left
			.swiper-button-next
				i.fa.fa-arrow-right

