.m-clothes {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.m-clothes__caption {
  display: none;
}
.m-clothes__caption-close {
  height: 60px;
  background-color: #e8e8e8;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
.m-clothes__caption-close i {
  color: $red;
  margin-top: -3px;
  font-size: 1rem;
}
.m-clothes__caption-close span {
  color: $red;
  font-family: $Light;
  font-size: 1.125rem;
  line-height: 22px;
  margin-left: 5px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-bottom: 1px dashed #e8e8e8;
}
.m-clothes__caption-close:hover span {
  border-bottom: 1px dashed $red;
}
.m-clothes__caption-desc {
  margin: 100px 40px 40px 40px;
}
.m-clothes__caption-desc-title {
  color: $black;
  font-size: 1.5rem;
  line-height: 36px;
  font-family: $Regular;
  margin-bottom: 31px;
  text-align: left;
}
.m-clothes__caption-desc-smalltitle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 9px;
}
.m-clothes__caption-desc-smalltitle span {
  color: $footertitle;
  font-size: 0.75rem;
  line-height: 14px;
  letter-spacing: 1px;
  font-family: $Regular;
  text-transform: uppercase;
  margin-left: 8px;
}
.m-clothes__caption-desc-text {
  color: $textblack;
  font-family: $Light;
  font-size: 1.25rem;
  line-height: 30px;
  text-align: left;
  margin-bottom: 21px;
}
.m-clothes__title {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  color: $black;
  font-size: 2rem;
  font-family: $Light;
  line-height: 39px;
  margin: 40px 0 30px;
}
.m-clothes__block {
  margin-bottom: 50px;
}
.m-clothes__block-process {
  margin-bottom: 40px;
  padding: 0 8px 0 12px;
}
.m-clothes__block-process__img {
  margin-bottom: 26px;
}
.m-clothes__block-process__title {
  margin-bottom: 15px;
  font-family: $Regular;
  font-size: 1.25rem;
  line-height: 30px;
  color: $black;
}
.m-clothes__block-process__text {
  font-family: $Light;
  font-size: 1rem;
  line-height: 24px;
  color: $textblack;
}
.m-clothes__block-title {
  margin-bottom: 15px;
}
.m-clothes__block-title p {
  font-family: $Light;
  font-size: 1.375rem;
  line-height: 33px;
  color: $black;
  display: inline-block;
}
.m-clothes__block-title span {
  margin-left: 3px;
  color: $black;
  font-family: $Medium;
  font-size: 1.375rem;
  line-height: 33px;
}
.m-clothes__block-title:nth-child(3) {
  margin-bottom: 0;
}
.m-clothes__block:nth-child(2) {
  -webkit-flex-basis: 65%;
      -ms-flex-preferred-size: 65%;
          flex-basis: 65%;
}
.m-clothes__block:nth-child(3) {
  -webkit-flex-basis: 30%;
      -ms-flex-preferred-size: 30%;
          flex-basis: 30%;
}
.m-clothes__block:nth-child(4) {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  max-width: 100%;
}
.m-clothes__block:nth-child(4) > div:nth-child(1) {
  margin-bottom: 25px;
}
.m-clothes__block:nth-child(4) > div:nth-child(4) {
  margin-bottom: 42px;
}
.m-clothes__block-li {
  font-size: 1rem;
  line-height: 24px;
  font-family: $Light;
  color: $textblack;
  margin-bottom: 10px;
  position: relative;
  padding-left: 15px;
}
.m-clothes__block-li:before {
  content: '';
  background-color: $red;
  width: 7px;
  height: 7px;
  display: inline-block;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: absolute;
  left: 0;
  top: 7px;
}
.m-clothes__block-img {
  height: 370px;
}
.m-clothes__block-mobtable {
  display: none;
}
.m-clothes__block-table {
  width: 100%;
  margin-bottom: 55px;
}
.m-clothes__block-table__titles {
  width: 100%;
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid #e8e8e8;
}
.m-clothes__block-table__titles-item p {
  font-family: $Regular;
  line-height: 14px;
  color: #2b2b2b;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 0.75rem;
}
.m-clothes__block-table__titles-item span {
  font-family: $Light;
  line-height: 14px;
  color: #2b2b2b;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 0.75rem;
}
.m-clothes__block-table__titles-item:nth-child(1) {
  padding-left: 29px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-basis: 20%;
      -ms-flex-preferred-size: 20%;
          flex-basis: 20%;
}
.m-clothes__block-table__titles-item:nth-child(2) {
  -webkit-flex-basis: 30%;
      -ms-flex-preferred-size: 30%;
          flex-basis: 30%;
}
.m-clothes__block-table__titles-item:nth-child(3) {
  -webkit-flex-basis: 5;
      -ms-flex-preferred-size: 5;
          flex-basis: 5;
}
.m-clothes__block-table__blocks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding: 15px 0;
}
.m-clothes__block-table__blocks:nth-child(2n+1) {
  background-color: #fbfbfb;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}
.m-clothes__block-table__blocks-item:nth-child(1) {
  font-family: $Medium;
  color: $textblack;
  line-height: 24px;
  font-size: 1rem;
  padding-left: 29px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-basis: 20%;
      -ms-flex-preferred-size: 20%;
          flex-basis: 20%;
}
.m-clothes__block-table__blocks-item:nth-child(2) {
  -webkit-flex-basis: 30%;
      -ms-flex-preferred-size: 30%;
          flex-basis: 30%;
}
.m-clothes__block-table__blocks-item:nth-child(2) p {
  font-family: $Thin;
  line-height: 21px;
  color: $textblack;
  font-size: 1rem;
}
.m-clothes__block-table__blocks-item:nth-child(2) span {
  font-family: $Regular;
  line-height: 21px;
  color: $textblack;
  font-size: 1rem;
}
.m-clothes__block-table__blocks-item:nth-child(3) {
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
}
.m-clothes__block-table__blocks-item:nth-child(3) p {
  font-family: $Thin;
  line-height: 21px;
  color: $textblack;
  font-size: 1rem;
}
.m-clothes__block-table__blocks-item:nth-child(3) span {
  font-family: $Regular;
  line-height: 21px;
  color: $textblack;
  font-size: 1rem;
}
.m-clothes__block-desc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #f2f2f2;
  padding: 23px 30px;
}
.m-clothes__block-desc__blocks {
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
  position: relative;
}
.m-clothes__block-desc__blocks:nth-child(1) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.m-clothes__block-desc__blocks-img {
  top: -27px;
  position: absolute;
  left: 26px;
}
.m-clothes__block-desc__blocks-title {
  padding-left: 130px;
}
.m-clothes__block-desc__blocks-title p {
  font-family: $Light;
  font-size: 1rem;
  color: $textblack;
  line-height: 24px;
}
.m-clothes__block-desc__blocks-title span {
  font-family: $Regular;
  font-size: 1rem;
  color: $black;
  line-height: 24px;
}
.m-clothes__block-desc__blocks-text {
  font-family: $ThinItalic;
  font-size: 1rem;
  line-height: 21px;
  color: $textblack;
  text-align: right;
}
.m-clothes__block-mobdesc {
  display: none;
  margin-top: 20px;
  font-family: $ThinItalic;
  font-size: 0.875rem;
  line-height: 16px;
  color: $textblack;
  text-align: right;
}
.m-clothes__slider-works {
  width: 100%;
  position: relative;
  margin-bottom: 60px;
  display: block;
}
.m-clothes__slider-works .swiper-button-prev,
.m-clothes__slider-works .swiper-button-next {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.m-clothes__slider-works div.swiper-slide-active:nth-child(1) > div:nth-child(1) {
  border: none;
}
.m-clothes__slider {
  width: 100%;
  position: relative;
  display: block;
}
.m-clothes__slider div.swiper-slide-active:nth-child(1) > div:nth-child(1) {
  border: none;
}
.m-clothes__slider .swiper-button-prev,
.m-clothes__slider .swiper-button-next {
  display: none;
}
.m-clothes__slider-work {
  height: 560px;
  position: relative;
}
.m-clothes__slider-work img {
  display: none;
}
.m-clothes__slider-work-desc {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 15px;
  right: 15px;
  padding: 58px 38px;
  height: 100%;
  -webkit-box-shadow: 0px 4px 30px rgba(0,0,0,0.05);
          box-shadow: 0px 4px 30px rgba(0,0,0,0.05);
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255,255,255,0.7)), to(rgba(255,255,255,0.7))), -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(99.99%, rgba(255,255,255,0.3)), to(rgba(255,255,255,0)));
  background: -webkit-linear-gradient(bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.7)), -webkit-linear-gradient(top, #fff 0%, rgba(255,255,255,0.3) 99.99%, rgba(255,255,255,0) 100%);
  background: -o-linear-gradient(bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.7)), -o-linear-gradient(top, #fff 0%, rgba(255,255,255,0.3) 99.99%, rgba(255,255,255,0) 100%);
  background: linear-gradient(0deg, rgba(255,255,255,0.7), rgba(255,255,255,0.7)), linear-gradient(180deg, #fff 0%, rgba(255,255,255,0.3) 99.99%, rgba(255,255,255,0) 100%);
}
.m-clothes__slider-work-desc__title {
  font-family: $Regular;
  line-height: 33px;
  color: $black;
  font-size: 1.375rem;
  margin-bottom: 35px;
}
.m-clothes__slider-work-desc__smalltitle {
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 14px;
  color: $footertitle;
  letter-spacing: 1px;
  font-family: $Regular;
  margin-bottom: 8px;
}
.m-clothes__slider-work-desc__text {
  margin-bottom: 20px;
  font-size: 1.375rem;
  font-family: $Regular;
  line-height: 33px;
  color: $textblack;
  font-family: $Light;
}
.m-clothes__slider-work-desc__button button {
  border: 1px solid $black;
  font-family: $Light;
  text-align: center;
  padding: 12px;
  line-height: 15px;
  letter-spacing: 0.7px;
  width: 100%;
  background-color: rgba(0,0,0,0);
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.m-clothes__slider-work-desc__button button:hover {
  background-color: $white;
}
.m-clothes__slider-work:hover .m-clothes__slider-work-desc {
  opacity: 1;
}
.m-clothes__form {
  border: 1px solid $black;
  padding: 35px 65px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.m-clothes__form-block:nth-child(1) {
  -webkit-flex-basis: 40%;
      -ms-flex-preferred-size: 40%;
          flex-basis: 40%;
}
.m-clothes__form-block:nth-child(2) {
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.m-clothes__form-block__title {
  font-family: $Light;
  font-size: 2rem;
  line-height: 39px;
  color: $black;
  position: relative;
  padding-bottom: 13px;
}
.m-clothes__form-block__title:after {
  content: '';
  position: absolute;
  bottom: 0;
  display: inline-block;
  width: 25%;
  background-color: #ababab;
  height: 1px;
  left: 0;
}
.m-clothes__form-block__text {
  padding-top: 15px;
  font-family: $Light;
  font-size: 0.875rem;
  line-height: 17px;
  color: $textblack;
}
.m-clothes__form-block__input {
  -webkit-flex-basis: 33.33334%;
      -ms-flex-preferred-size: 33.33334%;
          flex-basis: 33.33334%;
  margin-bottom: 20px;
}
.m-clothes__form-block__input input {
  border: none;
  padding: 8px;
  border-bottom: 1px solid #d1d1d1;
  font-family: $ThinItalic;
  font-size: 0.875rem;
  line-height: 17px;
  color: #8d8d8d;
  width: 90%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.m-clothes__form-block__input input:hover {
  border-color: $red;
}
.m-clothes__form-block__input input:focus {
  border-color: $red;
}
.m-clothes__form-block__desc {
  -webkit-flex-basis: 66.66667%;
      -ms-flex-preferred-size: 66.66667%;
          flex-basis: 66.66667%;
}
.m-clothes__form-block__desc p,
.m-clothes__form-block__desc span {
  font-family: $Light;
  font-size: 0.875rem;
  line-height: 24px;
  color: $textblack;
}
.m-clothes__form-block__desc span {
  margin-right: 3px;
}
.m-clothes__form-block__desc a {
  font-family: $Light;
  font-size: 0.875rem;
  line-height: 24px;
  color: $red;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.m-clothes__form-block__desc a:hover {
  color: $textblack;
}
.m-clothes__form-block__button {
  -webkit-flex-basis: 33.33334%;
      -ms-flex-preferred-size: 33.33334%;
          flex-basis: 33.33334%;
}
.m-clothes__form-block__button button {
  font-family: $Light;
  font-size: 0.75rem;
  color: $red;
  line-height: 15px;
  padding: 9px 26px;
  border: 1px solid $red;
  background: none;
  width: 100%;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.m-clothes__form-block__button button:hover {
  background-color: $red;
  color: $white;
}
.m-clothes__form-block__policy {
  -webkit-flex-basis: 33.33334%;
      -ms-flex-preferred-size: 33.33334%;
          flex-basis: 33.33334%;
}
.m-clothes__form-block__policy p {
  font-family: $Light;
  font-size: 0.625rem;
  line-height: 15px;
  color: $textblack;
}
.m-clothes__form-block__policy p a {
  margin-left: 3px;
  border-bottom: 1px solid $red;
  color: $red;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.m-clothes__form-block__policy p a:hover {
  border-color: $textblack;
}
.slider8 {
  padding: 30px 0;
}
.lSAction > .lSPrev {
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.lSAction > .lSPrev i {
  margin-left: -1px;
}
.lSAction > .lSPrev:hover i {
  margin-left: -9px;
}
.lSAction > .lSNext {
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.lSAction > .lSNext i {
  margin-right: -1px;
}
.lSAction > .lSNext:hover i {
  margin-right: -9px;
}
.lSAction > a {
  top: -webkit-calc(50% - 20px);
  top: calc(50% - 20px);
  background-color: $red;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
          box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 1;
}
.lSAction > a i {
  color: $white;
  margin-top: -1px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media (max-width: 991px) {
  .m-clothes__slider .swiper-button-next.swiper-button-disabled,
  .m-clothes__slider .swiper-button-prev.swiper-button-disabled {
    opacity: 0;
  }
  .m-clothes .swiper-button-prev,
  .m-clothes .swiper-button-next {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .m-clothes__block-desc {
    padding: 12px 18px;
  }
  .m-clothes__block-desc__blocks {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
  .m-clothes__block-desc__blocks:nth-child(2) {
    display: none;
  }
  .m-clothes__block-desc__blocks-img {
    top: -15px;
  }
  .m-clothes__block-desc__blocks-title p {
    font-family: $Thin;
    font-family: 1rem;
    line-height: 24px;
    color: $textblack;
  }
  .m-clothes__block-desc__blocks-title span {
    font-family: $Regular;
    font-family: 1rem;
    line-height: 24px;
    color: $textblack;
  }
  .m-clothes__block-table {
    display: none;
  }
  .m-clothes__block-mobtable {
    display: block;
    width: 100%;
    margin-bottom: 55px;
  }
  .m-clothes__block-mobtable__block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .m-clothes__block-mobtable__block-item:nth-child(1) {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    color: #fff;
    background-color: $textblack;
    padding: 8px 26px;
    font-family: $Medium;
    line-height: 24px;
    font-size: 1rem;
  }
  .m-clothes__block-mobtable__block-item:nth-child(2),
  .m-clothes__block-mobtable__block-item:nth-child(3) {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    color: #2b2b2b;
    background-color: #f2f2f2;
    padding: 17px 0 17px 17px;
    font-family: $Regular;
    text-transform: uppercase;
    line-height: 12px;
    font-size: 0.625rem;
    letter-spacing: 1px;
    border-bottom: 1px solid #e8e8e8;
  }
  .m-clothes__block-mobtable__block-item:nth-child(4) {
    border-right: 1px solid #e8e8e8;
  }
  .m-clothes__block-mobtable__block-item:nth-child(4),
  .m-clothes__block-mobtable__block-item:nth-child(5) {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    background-color: $white;
    padding: 17px 20px;
  }
  .m-clothes__block-mobtable__block-item:nth-child(4) p,
  .m-clothes__block-mobtable__block-item:nth-child(5) p {
    font-family: $Thin;
    color: $textblack;
    font-size: 0.75rem;
    line-height: 16px;
  }
  .m-clothes__block-mobtable__block-item:nth-child(4) span,
  .m-clothes__block-mobtable__block-item:nth-child(5) span {
    font-family: $Regular;
    color: $textblack;
    font-size: 0.75rem;
    line-height: 16px;
  }
  .m-clothes__block-mobdesc {
    display: block;
  }
  .m-clothes__block:nth-child(1) {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  .m-clothes__block:nth-child(2) {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }
  .m-clothes__block:nth-child(3) {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    margin-bottom: 25px;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
  .m-clothes__block:nth-child(4) {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4;
  }
  .m-clothes__form {
    padding: 20px 25px;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .m-clothes__form-block:nth-child(1) {
    margin-bottom: 21px;
  }
  .m-clothes__form-block:nth-child(1),
  .m-clothes__form-block:nth-child(2) {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
  .m-clothes__form-block__input {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
  .m-clothes__form-block__input input {
    width: 100%;
  }
  .m-clothes__form-block__button {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    margin-bottom: 25px;
  }
  .m-clothes__form-block__desc {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
  .m-clothes__form-block__policy {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 15px;
  }
}
@media (max-width: 500px) {
  .m-clothes__slider-work-desc {
    left: 0;
    right: 0;
    padding: 30px 10px;
  }
}
