.g-wrapper
	.fabrics
		.fabrics__title Ткани
		.fabrics__grid
			.fabrics__grid-item
				a.fabrics__grid-item-img(href="#" style="background: url(/images/grid-img1.png) 50% 50% no-repeat; background-size: cover;")
				.fabrics__grid-item-title Holland & Sherry
				a(href="#").fabrics__grid-item-button Заказать
			.fabrics__grid-item
				a.fabrics__grid-item-img(href="#" style="background: url(/images/grid-img1.png) 50% 50% no-repeat; background-size: cover;")
				.fabrics__grid-item-title Vitale Barberis Canonico
				a(href="#").fabrics__grid-item-button Заказать
			.fabrics__grid-item
				a.fabrics__grid-item-img(href="#" style="background: url(/images/grid-img1.png) 50% 50% no-repeat; background-size: cover;")
				.fabrics__grid-item-title Scabal
				a(href="#").fabrics__grid-item-button Заказать
			.fabrics__grid-item
				a.fabrics__grid-item-img(href="#" style="background: url(/images/grid-img1.png) 50% 50% no-repeat; background-size: cover;")
				.fabrics__grid-item-title Dormeuil
				a(href="#").fabrics__grid-item-button Заказать
			.fabrics__grid-item
				a.fabrics__grid-item-img(href="#" style="background: url(/images/grid-img1.png) 50% 50% no-repeat; background-size: cover;")
				.fabrics__grid-item-title Ermenegildo Zegna
				a(href="#").fabrics__grid-item-button Заказать
			.fabrics__grid-item
				a.fabrics__grid-item-img(href="#" style="background: url(/images/grid-img1.png) 50% 50% no-repeat; background-size: cover;")
				.fabrics__grid-item-title Cerruti
				a(href="#").fabrics__grid-item-button Заказать
			.fabrics__grid-item
				a.fabrics__grid-item-img(href="#" style="background: url(/images/grid-img1.png) 50% 50% no-repeat; background-size: cover;")
				.fabrics__grid-item-title Canclini
				a(href="#").fabrics__grid-item-button Заказать
			.fabrics__grid-item
				a.fabrics__grid-item-img(href="#" style="background: url(/images/grid-img1.png) 50% 50% no-repeat; background-size: cover;")
				.fabrics__grid-item-title Marzoni
				a(href="#").fabrics__grid-item-button Заказать
