.prices
	display flex
	flex-wrap wrap
	justify-content space-between
	&__title
		flex-basis 100%
		color $black
		font-size 2rem
		font-family $Light
		line-height 39px
		margin 40px 0 30px
	&__block
		margin-bottom 50px
		flex-basis 100%
		max-width 100%
		&-process
			margin-bottom 40px
			padding 0 8px 0 12px
			&__img
				margin-bottom 26px
			&__title
				margin-bottom 15px
				font-family $Regular
				font-size 1.25rem
				line-height 30px
				color $black
			&__text
				font-family $Light
				font-size 1rem
				line-height 24px
				color $textblack
		&-title
			margin-bottom 15px
			p
				font-family $Light
				font-size 1.375rem
				line-height 33px
				color $black
				display inline-block
			span
				margin-left 3px
				color $black
				font-family $Medium
				font-size 1.375rem
				line-height 33px
			&:nth-child(3)
				margin-bottom 0
		&-li
			font-size 1rem
			line-height 24px
			font-family $Light
			color $textblack
			margin-bottom 10px
			position relative
			padding-left 15px
			&:before
				content ''
				background-color $red
				width 7px
				height 7px
				display inline-block
				border-radius 50%
				position absolute
				left 0
				top 7px
		&-img
			height 370px
		&-mobtable
			display none
		&-table
			max-width 100%
			margin-bottom 55px
			&__titles
				width 100%
				background-color #F2F2F2
				display flex
				padding 20px 0
				border-bottom 1px solid #E8E8E8
				&-item
					p
						font-family $Regular
						line-height 14px
						color #2b2b2b
						letter-spacing 1px
						text-transform uppercase
						font-size 0.75rem
					span
						font-family $Light
						line-height 14px
						color #2b2b2b
						letter-spacing 1px
						text-transform uppercase
						font-size 0.75rem
					&:nth-child(1)
						padding-left 29px
						display flex
						flex-basis 20%
					&:nth-child(2)
						flex-basis 30%
					&:nth-child(3)
						flex-basis 5
			&__blocks
				display flex
				padding-top 20px
				padding 15px 0
				&:nth-child(2n+1)
					background-color #FBFBFB
					border-top 1px solid #E8E8E8
					border-bottom 1px solid #E8E8E8
				&-item
					&:nth-child(1)
						font-family $Medium
						color $textblack
						line-height 24px
						font-size 1rem
						padding-left 29px
						display flex
						flex-basis 20%
					&:nth-child(2)
						flex-basis 30%
						p
							font-family $Thin
							line-height 21px
							color $textblack
							font-size 1rem
						span
							font-family $Regular
							line-height 21px
							color $textblack
							font-size 1rem
					&:nth-child(3)
						flex-basis 50%
						p
							font-family $Thin
							line-height 21px
							color $textblack
							font-size 1rem
						span
							font-family $Regular
							line-height 21px
							color $textblack
							font-size 1rem
		&-desc
			display flex
			background-color #F2F2F2
			padding 23px 30px
			&__blocks
				flex-basis 50%
				position relative
				&:nth-child(1)
					display flex
				&-img
					top -27px
					position absolute
					left 26px
				&-title
					padding-left 130px
					p
						font-family $Light
						font-size 1rem
						color $textblack
						line-height 24px
					span
						font-family $Regular
						font-size 1rem
						color $black
						line-height 24px
				&-text
					font-family $ThinItalic
					font-size 1rem
					line-height 21px
					color $textblack
					text-align right
		&-mobdesc
			display none
			margin-top 20px
			font-family $ThinItalic
			font-size 0.875rem
			line-height 16px
			color $textblack
			text-align right
.slider8
	padding 30px 0
.lSAction > .lSPrev
	left 0
	display flex
	align-items center
	justify-content center
	i
		margin-left -1px
	&:hover i
		margin-left -9px
.lSAction > .lSNext
	right 0
	display flex
	align-items center
	justify-content center
	i
		margin-right -1px
	&:hover i
		margin-right -9px
.lSAction > a
	top calc(50% - 20px)
	background-color $red
	border-radius 50%
	width 50px
	height 50px
	display flex
	align-items center
	justify-content center
	box-shadow 0px 0px 30px rgba(0, 0, 0, 0.1)
	transition .3s
	opacity 1
	i
		color $white
		margin-top -1px
		transition .3s
@media(max-width: 991px)
	.prices
		&__slider
			.swiper-button-next.swiper-button-disabled,
			.swiper-button-prev.swiper-button-disabled
				opacity 0
		.swiper-button-prev,
		.swiper-button-next
			display flex
		&__block
			&-desc
				padding 12px 18px
				&__blocks
					flex-basis 100%
					&:nth-child(2)
						display none
					&-img
						top -15px
					&-title
						p
							font-family $Thin
							font-family 1rem
							line-height 24px
							color $textblack
						span
							font-family $Regular
							font-family 1rem
							line-height 24px
							color $textblack
			&-table
				display none
			&-mobtable
				display block
				width 100%
				margin-bottom 55px
				&__block
					display flex
					flex-wrap wrap
					&-item
						&:nth-child(1)
							flex-basis 100%
							color #fff
							background-color $textblack
							padding 8px 26px
							font-family $Medium
							line-height 24px
							font-size 1rem
						&:nth-child(2),
						&:nth-child(3)
							flex-basis 50%
							color #2B2B2B
							background-color #F2F2F2
							padding 17px 0 17px 17px
							font-family $Regular
							text-transform uppercase
							line-height 12px
							font-size 0.625rem
							letter-spacing 1px
							border-bottom 1px solid #E8E8E8
						&:nth-child(4)
							border-right 1px solid #E8E8E8
						&:nth-child(4),
						&:nth-child(5)
							flex-basis 50%
							background-color $white
							padding 17px 20px
							p
								font-family $Thin
								color $textblack
								font-size 0.75rem
								line-height 16px
							span
								font-family $Regular
								color $textblack
								font-size 0.75rem
								line-height 16px
			&-mobdesc
				display block
@media(max-width:500px)
	.prices
		&__slider
			&-work
				&-desc
					left 0
					right 0
					padding 30px 10px
