.g-wrapper
	.error
		.error__number 404
		.error__desc
			.error__desc-title Ничего не найдено
			.error__desc-text
				p К сожалению, по данной ссылке ничего нет. Возможно страница была удалена или произошла ошибка.
				p Попробуйте найти, что вас интересует в строке поиска.
			.error__desc-search
				i.fa.fa-search
				input(type="text" placeholder="Поиск по сайту")
