.g-wrapper
	.accessories
		.accessories__title
			.accessories__title-text Акксесуары
			.accessories__title-cart
				a(href="#") Перейти в корзину
				i.fa.fa-shopping-cart
		.accessories__sidebar
			.accessories__sidebar-block
				.accessories__sidebar-block-titles
					.accessories__sidebar-block-titles-title Фильтр записей
					.accessories__sidebar-block-titles-button
						<svg width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.1311 5.23326C10.1981 5.30022 10.2316 5.37723 10.2316 5.46429C10.2316 5.55134 10.1981 5.62835 10.1311 5.69531L9.62891 6.19754C9.56194 6.26451 9.48493 6.29799 9.39788 6.29799C9.31083 6.29799 9.23382 6.26451 9.16685 6.19754L5.21931 2.25L1.27176 6.19754C1.2048 6.26451 1.12779 6.29799 1.04074 6.29799C0.953683 6.29799 0.876674 6.26451 0.80971 6.19754L0.307478 5.69531C0.240513 5.62835 0.207031 5.55134 0.207031 5.46429C0.207031 5.37723 0.240513 5.30022 0.307478 5.23326L4.98828 0.552455C5.05525 0.485491 5.13225 0.452009 5.21931 0.452009C5.30636 0.452009 5.38337 0.485491 5.45034 0.552455L10.1311 5.23326Z" fill="white"/></svg>
				.accessories__sidebar-block-filters
					.accessories__sidebar-block-filters__title Сортировать
					select.accessories__sidebar-block-filters__select
						option(value="По популярности").accessories__sidebar-block-filters__option По популярности
						option(value="По цена").accessories__sidebar-block-filters__option По цена
					.accessories__sidebar-block-filters__separator
					.accessories__sidebar-block-filters__title Показывать на странице
					select.accessories__sidebar-block-filters__select
						option(value="1").accessories__sidebar-block-filters__option 1
						option(value="2").accessories__sidebar-block-filters__option 2
						option(value="3").accessories__sidebar-block-filters__option 3
						option(value="4").accessories__sidebar-block-filters__option 4
				.accessories__sidebar-block-cats
					a(href="#").accessories__sidebar-block-cats__item Галстуки
					a(href="#").accessories__sidebar-block-cats__item Запонки
					a(href="#").accessories__sidebar-block-cats__item Бабочки
					a(href="#").accessories__sidebar-block-cats__item Ремни
					a(href="#").accessories__sidebar-block-cats__item Шарфы
					a(href="#").accessories__sidebar-block-cats__item Перчатки
		.accessories__container
			.accessories__container-block
				.accessories__container-block-image(style="background: url(/images/product.jpg) 50% 50% no-repeat; background-size: contain;")
				.accessories__container-block-title Запонки Dalvey Admiralty
				.accessories__container-block-prop Материал:
					span нефрит
				.accessories__container-block-prop Цвет:
					span.color-product
				.accessories__container-block-footer
					.accessories__container-block-footer__item 2499 руб.
					.accessories__container-block-footer__item
						button(type="button") Купить
			.accessories__container-block
				.accessories__container-block-image(style="background: url(/images/product.jpg) 50% 50% no-repeat; background-size: contain;")
				.accessories__container-block-title Запонки Dalvey Admiralty
				.accessories__container-block-prop Материал:
					span нефрит
				.accessories__container-block-prop Цвет:
					span.color-product
				.accessories__container-block-footer
					.accessories__container-block-footer__item 2499 руб.
					.accessories__container-block-footer__item
						button(type="button") Купить
			.accessories__container-block
				.accessories__container-block-image(style="background: url(/images/product.jpg) 50% 50% no-repeat; background-size: contain;")
				.accessories__container-block-title Запонки Dalvey Admiralty
				.accessories__container-block-prop Материал:
					span нефрит
				.accessories__container-block-prop Цвет:
					span.color-product
				.accessories__container-block-footer
					.accessories__container-block-footer__item 2499 руб.
					.accessories__container-block-footer__item
						button(type="button") Купить
			.accessories__container-block
				.accessories__container-block-image(style="background: url(/images/product.jpg) 50% 50% no-repeat; background-size: contain;")
				.accessories__container-block-title Запонки Dalvey Admiralty
				.accessories__container-block-prop Материал:
					span нефрит
				.accessories__container-block-prop Цвет:
					span.color-product
				.accessories__container-block-footer
					.accessories__container-block-footer__item 2499 руб.
					.accessories__container-block-footer__item
						button(type="button") Купить
			.accessories__container-block
				.accessories__container-block-image(style="background: url(/images/product.jpg) 50% 50% no-repeat; background-size: contain;")
				.accessories__container-block-title Запонки Dalvey Admiralty
				.accessories__container-block-prop Материал:
					span нефрит
				.accessories__container-block-prop Цвет:
					span.color-product
				.accessories__container-block-footer
					.accessories__container-block-footer__item 2499 руб.
					.accessories__container-block-footer__item
						button(type="button") Купить
			.accessories__container-block
				.accessories__container-block-image(style="background: url(/images/product.jpg) 50% 50% no-repeat; background-size: contain;")
				.accessories__container-block-title Запонки Dalvey Admiralty
				.accessories__container-block-prop Материал:
					span нефрит
				.accessories__container-block-prop Цвет:
					span.color-product
				.accessories__container-block-footer
					.accessories__container-block-footer__item 2499 руб.
					.accessories__container-block-footer__item
						button(type="button") Купить
			.accessories__container-block
				.accessories__container-block-image(style="background: url(/images/product.jpg) 50% 50% no-repeat; background-size: contain;")
				.accessories__container-block-title Запонки Dalvey Admiralty
				.accessories__container-block-prop Материал:
					span нефрит
				.accessories__container-block-prop Цвет:
					span.color-product
				.accessories__container-block-footer
					.accessories__container-block-footer__item 2499 руб.
					.accessories__container-block-footer__item
						button(type="button") Купить
			.accessories__container-block
				.accessories__container-block-image(style="background: url(/images/product.jpg) 50% 50% no-repeat; background-size: contain;")
				.accessories__container-block-title Запонки Dalvey Admiralty
				.accessories__container-block-prop Материал:
					span нефрит
				.accessories__container-block-prop Цвет:
					span.color-product
				.accessories__container-block-footer
					.accessories__container-block-footer__item 2499 руб.
					.accessories__container-block-footer__item
						button(type="button") Купить
			.accessories__container-block
				.accessories__container-block-image(style="background: url(/images/product.jpg) 50% 50% no-repeat; background-size: contain;")
				.accessories__container-block-title Запонки Dalvey Admiralty
				.accessories__container-block-prop Материал:
					span нефрит
				.accessories__container-block-prop Цвет:
					span.color-product
				.accessories__container-block-footer
					.accessories__container-block-footer__item 2499 руб.
					.accessories__container-block-footer__item
						button(type="button") Купить
			.accessories__container-block
				.accessories__container-block-image(style="background: url(/images/product.jpg) 50% 50% no-repeat; background-size: contain;")
				.accessories__container-block-title Запонки Dalvey Admiralty
				.accessories__container-block-prop Материал:
					span нефрит
				.accessories__container-block-prop Цвет:
					span.color-product
				.accessories__container-block-footer
					.accessories__container-block-footer__item 2499 руб.
					.accessories__container-block-footer__item
						button(type="button") Купить
			.accessories__container-block
				.accessories__container-block-image(style="background: url(/images/product.jpg) 50% 50% no-repeat; background-size: contain;")
				.accessories__container-block-title Запонки Dalvey Admiralty
				.accessories__container-block-prop Материал:
					span нефрит
				.accessories__container-block-prop Цвет:
					span.color-product
				.accessories__container-block-footer
					.accessories__container-block-footer__item 2499 руб.
					.accessories__container-block-footer__item
						button(type="button") Купить
			.accessories__container-block
				.accessories__container-block-image(style="background: url(/images/product.jpg) 50% 50% no-repeat; background-size: contain;")
				.accessories__container-block-title Запонки Dalvey Admiralty
				.accessories__container-block-prop Материал:
					span нефрит
				.accessories__container-block-prop Цвет:
					span.color-product
				.accessories__container-block-footer
					.accessories__container-block-footer__item 2499 руб.
					.accessories__container-block-footer__item
						button(type="button") Купить
			.accessories__container-navigation
				a(href="#").accessories__container-navigation__arrow-left.accessories__container-navigation__arrow-disabled
					<svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.11433 1.40625C8.20362 1.49553 8.24826 1.59821 8.24826 1.71428C8.24826 1.83036 8.20362 1.93304 8.11433 2.02232L2.85094 7.28571L8.11433 12.5491C8.20362 12.6384 8.24826 12.7411 8.24826 12.8571C8.24826 12.9732 8.20362 13.0759 8.11433 13.1652L7.44469 13.8348C7.3554 13.9241 7.25272 13.9687 7.13665 13.9687C7.02058 13.9687 6.9179 13.9241 6.82862 13.8348L0.587544 7.59375C0.498258 7.50446 0.453615 7.40179 0.453615 7.28571C0.453615 7.16964 0.498258 7.06696 0.587544 6.97768L6.82862 0.736606C6.9179 0.64732 7.02058 0.602677 7.13665 0.602677C7.25272 0.602677 7.3554 0.64732 7.44469 0.736606L8.11433 1.40625Z" fill="white"/></svg>
				.accessories__container-navigation__numbers
					a(href="#").accessories__container-navigation__numbers-item 1
					a(href="#").accessories__container-navigation__numbers-item 2
					a(href="#").accessories__container-navigation__numbers-item 3
					a(href="#").accessories__container-navigation__numbers-item ...
					a(href="#").accessories__container-navigation__numbers-item 10
				a(href="#").accessories__container-navigation__arrow-right
					<svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.68576 6.97768C7.77504 7.06696 7.81969 7.16964 7.81969 7.28571C7.81969 7.40179 7.77504 7.50446 7.68576 7.59375L1.44469 13.8348C1.3554 13.9241 1.25272 13.9687 1.13665 13.9687C1.02058 13.9687 0.917901 13.9241 0.828615 13.8348L0.158973 13.1652C0.0696869 13.0759 0.025044 12.9732 0.025044 12.8571C0.025044 12.7411 0.0696869 12.6384 0.158973 12.5491L5.42237 7.28571L0.158973 2.02232C0.0696869 1.93304 0.025044 1.83036 0.025044 1.71428C0.025044 1.59821 0.0696869 1.49553 0.158973 1.40625L0.828615 0.736606C0.917901 0.64732 1.02058 0.602677 1.13665 0.602677C1.25272 0.602677 1.3554 0.64732 1.44469 0.736606L7.68576 6.97768Z" fill="white"/></svg>


