.g-wrapper
	.cart
		.cart__title
			.cart__title-text Корзина
			.cart__title-cart
				a(href="#") Перейти в корзину
				i.fa.fa-shopping-cart
		form(action="#").cart__form
			.cart__form-table
				.cart__form-table__titles
					.cart__form-table__titles-title Фото
					.cart__form-table__titles-title Наименование
					.cart__form-table__titles-title Количество
					.cart__form-table__titles-title Цена
					.cart__form-table__titles-title Сумма
					.cart__form-table__titles-title
				.cart__form-table__items
					.cart__form-table__items-image(style="background: url(/images/product.jpg) 15% 50% no-repeat; background-size: contain;")
					.cart__form-table__items-title Запонки Dalvey Admiralty
					.cart__form-table__items-counts
						span.cart__form-table__items-counts__count(data-type="plus")
							i.fa.fa-plus
						input.cart__form-table__items-counts__count(type="text" value="1")
						span.cart__form-table__items-counts__count(data-type="minus")
							i.fa.fa-minus
					.cart__form-table__items-price 2 499 руб.
					.cart__form-table__items-total 2 499 руб.
					.cart__form-table__items-delete
						i.fa.fa-times
				.cart__form-table__items
					.cart__form-table__items-image(style="background: url(/images/product.jpg) 15% 50% no-repeat; background-size: contain;")
					.cart__form-table__items-title Запонки Dalvey Admiralty
					.cart__form-table__items-counts
						span.cart__form-table__items-counts__count(data-type="plus")
							i.fa.fa-plus
						input.cart__form-table__items-counts__count(type="text" value="1")
						span.cart__form-table__items-counts__count(data-type="minus")
							i.fa.fa-minus
					.cart__form-table__items-price 2 499 руб.
					.cart__form-table__items-total 2 499 руб.
					.cart__form-table__items-delete
						i.fa.fa-times
				.cart__form-table__items
					.cart__form-table__items-image(style="background: url(/images/product.jpg) 15% 50% no-repeat; background-size: contain;")
					.cart__form-table__items-title Запонки Dalvey Admiralty
					.cart__form-table__items-counts
						span.cart__form-table__items-counts__count(data-type="plus")
							i.fa.fa-plus
						input.cart__form-table__items-counts__count(type="text" value="1")
						span.cart__form-table__items-counts__count(data-type="minus")
							i.fa.fa-minus
					.cart__form-table__items-price 2 499 руб.
					.cart__form-table__items-total 2 499 руб.
					.cart__form-table__items-delete
						i.fa.fa-times
			.cart__form-footer
				.cart__form-footer-update
					button(type="button")
						i.fa.fa-refresh
						span Обновить корзину
				.cart__form-footer-totals
					.cart__form-footer-totals-total Итого:
						span 2 499 руб.
					.cart__form-footer-totals-button
						button(type="submit")
							span Оформить заказ
