.g-wrapper
	.sitemap
		.sitemap__title Карта сайта
		.sitemap__block
			a(href="#").sitemap__block-title Мужская одежда
			a(href="#").sitemap__block-li Рубашки
			a(href="#").sitemap__block-li.sitemap__block-li-intro Безрукавки
			a(href="#").sitemap__block-li.sitemap__block-li-intro Длинные рукава
			a(href="#").sitemap__block-li Костюмы
			a(href="#").sitemap__block-li Брюки
			a(href="#").sitemap__block-li Обувь
		.sitemap__block
			a(href="#").sitemap__block-title Женская одежда
			a(href="#").sitemap__block-li Рубашки
			a(href="#").sitemap__block-li.sitemap__block-li-intro Безрукавки
			a(href="#").sitemap__block-li.sitemap__block-li-intro Длинные рукава
			a(href="#").sitemap__block-li Костюмы
			a(href="#").sitemap__block-li Юбки
			a(href="#").sitemap__block-li Туфли
		.sitemap__block
			a(href="#").sitemap__block-title Обувь
			a(href="#").sitemap__block-li Аксессуары
			a(href="#").sitemap__block-li Подарочные сертификаты
