.sitemap
	display flex
	flex-wrap wrap
	margin-bottom 50px
	&__title
		flex-basis 100%
		color $black
		font-size 2rem
		font-family $Light
		line-height 39px
		margin 40px 0 30px
	&__block
		flex-basis 25%
		&-title
			font-family $Thin
			font-size 1.25rem
			line-height 30px
			margin-bottom 20px
			color $text
			display block
			&:hover
				color $red
		&-li
			font-family $Thin
			font-size 1.25rem
			line-height 30px
			margin-bottom 12px
			color $text
			display block
			transition .3s
			position relative
			padding-left 12px
			&:hover
				color $red
			&:after
				content ''
				position absolute
				display inline-block
				left 0
				width 1px
				height 100%
				background-color $red
			&-intro
				margin-left 20px
				&:after
					content ''
					position absolute
					display inline-block
					left 0
					width 1px
					height 100%
					background-color $red + 50%
@media(max-width: 991px)
	.sitemap
		&__block
			flex-basis 50%
			&:nth-child(4)
				margin-top 30px
@media(max-width: 500px)
	.sitemap
		&__block
			flex-basis 100%
			&:nth-child(3),
			&:nth-child(4)
				margin-top 30px
