$black = #000
$white = #fff
$lightgray = #F3F3F3
$darkgray = #F7F7F7
$red = #AC646E
$bg = #E5E5E5
$textblack = #272727
$textgray = #7E7E7E
$textlightgray = #BDBDBD
$textdarkgray = #6A6A6A
$textdarkergray = #6C6C6C
$copyright = #B3B3B3
$footertitle = #7F7F7F

$Light = Light
$LightItalic = LightItalic
$Medium = Medium
$Regular = Regular
$Thin = Thin
$Italic = Italic
$ThinItalic = ThinItalic
