@import "../vendor/swiper/dist/css/swiper.min.css"
@import "../vendor/font-awesome/css/font-awesome.min.css"
@import "../vendor/alertify/alertify.core.css"
@import "../vendor/alertify/alertify.default.css"
@import "../vendor/selectize/selectize.css"
@import "../vendor/lightslider/dist/css/lightslider.min.css"
@import "../vendor/lightgallery/lightgallery.min.css"
