.popuplocation-bg
.popuplocation
	.popuplocation__container
		.popuplocation__container-title Где вы находитесь?
		.popuplocation__container-close
			<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20 0.623307L19.3776 0L10 9.3766L0.622979 0L0 0.623307L9.37702 9.99982L0 19.3764L0.622979 20L10 10.6221L19.3776 20L20 19.3764L10.623 9.99982L20 0.623307Z" fill="#AC646E"/></svg>
			i.fa.fa-times
		.popuplocation__container-separator
		.popuplocation__container-content
			.popuplocation__container-content-item
				i.fa.fa-check
				span Москва
			.popuplocation__container-content-item
				i.fa.fa-check
				span Санкт-Петербург
			.popuplocation__container-content-item
				i.fa.fa-check
				span Самара
			.popuplocation__container-content-item
				i.fa.fa-check
				span Новороссийск
			.popuplocation__container-content-item
				i.fa.fa-check
				span Ярославль
