.g-wrapper
	.grid
		.grid__item
			<iframe width="100%" height="470" src="https://www.youtube.com/embed/RUZrHGVgdl4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		a.grid__item(href="#")
			.grid__item-img(style="background: url(/images/grid-img1.png) 50% 50% no-repeat; background-size: cover;")
			.grid__item-title Пошив мужских костюмов
		.grid__item
			.grid__item-img(style="background: url(/images/grid-img2.png) 50% 50% no-repeat; background-size: cover;")
			.grid__item-title Подарочный сертификат
			a(href="#").grid__item-button Заказать
		a.grid__item(href="#")
			.grid__item-img(style="background: url(/images/grid-img3.png) 0% 10% no-repeat; background-size: cover;")
			.grid__item-title Пошив женских костюмов
		a.grid__item(href="#")
			.grid__item-img(style="background: url(/images/grid-img4.png) 0% 100% no-repeat; background-size: cover;")
			.grid__item-title Пошив обуви ручной работы
		a.grid__item(href="#")
			.grid__item-img(style="background: url(/images/grid-img5.png) 50% 50% no-repeat; background-size: cover;")
			.grid__item-title Пошив женских сорочек
		a.grid__item(href="#")
			.grid__item-img(style="background: url(/images/grid-img6.png) 50% 50% no-repeat; background-size: cover;")
			.grid__item-title Пошив мужских сорочек
		.grid__item
			.grid__item-title Aurora Carne
			.grid__item-separator
			.grid__item-text Объединяя лучшее в индивидуальном пошиве!
			a(href="#").grid__item-button Подробнее
