.g-wrapper.callGallery#look
	.lookbook
		.lookbook__title Lookbook
		.lookbook__blocks#galleryLookbook
			.lookbook__blocks-block(style="background: url(/images/item4.jpg) 50% 50% no-repeat; background-size: contain;" data-thumb="/images/item4.jpg" data-src="/images/item4.jpg")
				img(src="/images/item4.jpg")
			.lookbook__blocks-block(style="background: url(/images/item5.jpg) 50% 50% no-repeat; background-size: contain;" data-thumb="/images/item5.jpg" data-src="/images/item5.jpg")
				img(src="/images/item5.jpg")
			.lookbook__blocks-block(style="background: url(/images/item4.jpg) 50% 50% no-repeat; background-size: contain;" data-thumb="/images/item4.jpg" data-src="/images/item4.jpg")
				img(src="/images/item4.jpg")
			.lookbook__blocks-block(style="background: url(/images/item5.jpg) 50% 50% no-repeat; background-size: contain;" data-thumb="/images/item5.jpg" data-src="/images/item5.jpg")
				img(src="/images/item5.jpg")
			.lookbook__blocks-block(style="background: url(/images/item4.jpg) 50% 50% no-repeat; background-size: contain;" data-thumb="/images/item4.jpg" data-src="/images/item4.jpg")
				img(src="/images/item4.jpg")
			.lookbook__blocks-block(style="background: url(/images/item5.jpg) 50% 50% no-repeat; background-size: contain;" data-thumb="/images/item5.jpg" data-src="/images/item5.jpg")
				img(src="/images/item5.jpg")
			.lookbook__blocks-block(style="background: url(/images/item4.jpg) 50% 50% no-repeat; background-size: contain;" data-thumb="/images/item4.jpg" data-src="/images/item4.jpg")
				img(src="/images/item4.jpg")
			.lookbook__blocks-block(style="background: url(/images/item5.jpg) 50% 50% no-repeat; background-size: contain;" data-thumb="/images/item5.jpg" data-src="/images/item5.jpg")
				img(src="/images/item5.jpg")
		.lookbook__button
			button(type="button")
				i.fa.fa-refresh
				span Показать ещё
