.g-wrapper
	.blog
		.blog__title Блог
		.blog__sidebar
			.blog__sidebar-block
				.blog__sidebar-block-titles
					.blog__sidebar-block-titles-title Фильтр записей
					.blog__sidebar-block-titles-button
						<svg width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.1311 5.23326C10.1981 5.30022 10.2316 5.37723 10.2316 5.46429C10.2316 5.55134 10.1981 5.62835 10.1311 5.69531L9.62891 6.19754C9.56194 6.26451 9.48493 6.29799 9.39788 6.29799C9.31083 6.29799 9.23382 6.26451 9.16685 6.19754L5.21931 2.25L1.27176 6.19754C1.2048 6.26451 1.12779 6.29799 1.04074 6.29799C0.953683 6.29799 0.876674 6.26451 0.80971 6.19754L0.307478 5.69531C0.240513 5.62835 0.207031 5.55134 0.207031 5.46429C0.207031 5.37723 0.240513 5.30022 0.307478 5.23326L4.98828 0.552455C5.05525 0.485491 5.13225 0.452009 5.21931 0.452009C5.30636 0.452009 5.38337 0.485491 5.45034 0.552455L10.1311 5.23326Z" fill="white"/></svg>
				.blog__sidebar-block-cats
					a(href="#").blog__sidebar-block-cats__item Все записи
					a(href="#").blog__sidebar-block-cats__item Лайфстайл
					a(href="#").blog__sidebar-block-cats__item Новости
					a(href="#").blog__sidebar-block-cats__item Рекомендации
					a(href="#").blog__sidebar-block-cats__item Индивидуальный пошив
					a(href="#").blog__sidebar-block-cats__item Женский стиль
					a(href="#").blog__sidebar-block-cats__item Мужской стиль
				.blog__sidebar-block-tags
					.blog__sidebar-block-tags__title Теги
					a(href="#").blog__sidebar-block-tags__item Новинка
					a(href="#").blog__sidebar-block-tags__item Советы
					a(href="#").blog__sidebar-block-tags__item Лукбук
					a(href="#").blog__sidebar-block-tags__item Информация
					a(href="#").blog__sidebar-block-tags__item Одежда
					a(href="#").blog__sidebar-block-tags__item Шапки
		.blog__container
			.blog__container-item(style="background: url(/images/blog-img.png) 50% 50% no-repeat; background-size: cover;")
				a(href="#").blog__container-item-category Гардероб
				.blog__container-item-date 14.06.2018
				.blog__container-item-title Главные цвета лета и осени 2018
					a(href="#").blog__container-item-title-link
						<svg width="6" height="11" viewBox="0 0 6 11" xmlns="http://www.w3.org/2000/svg" fill="none"><path d="M5.9 5C5.9 5.1 6 5.1 6 5.2 6 5.3 5.9 5.4 5.9 5.4L1.2 10.1C1.1 10.2 1.1 10.2 1 10.2 0.9 10.2 0.8 10.2 0.7 10.1L0.2 9.6C0.2 9.6 0.1 9.5 0.1 9.4 0.1 9.3 0.2 9.2 0.2 9.2L4.2 5.2 0.2 1.3C0.2 1.2 0.1 1.1 0.1 1 0.1 0.9 0.2 0.9 0.2 0.8L0.7 0.3C0.8 0.2 0.9 0.2 1 0.2 1.1 0.2 1.1 0.2 1.2 0.3L5.9 5Z" fill="white"/></svg>
			.blog__container-item(style="background: url(/images/blog-img.png) 50% 50% no-repeat; background-size: cover;")
				a(href="#").blog__container-item-category Гардероб
				.blog__container-item-date 14.06.2018
				.blog__container-item-title Главные цвета лета и осени 2018
					a(href="#").blog__container-item-title-link
						<svg width="6" height="11" viewBox="0 0 6 11" xmlns="http://www.w3.org/2000/svg" fill="none"><path d="M5.9 5C5.9 5.1 6 5.1 6 5.2 6 5.3 5.9 5.4 5.9 5.4L1.2 10.1C1.1 10.2 1.1 10.2 1 10.2 0.9 10.2 0.8 10.2 0.7 10.1L0.2 9.6C0.2 9.6 0.1 9.5 0.1 9.4 0.1 9.3 0.2 9.2 0.2 9.2L4.2 5.2 0.2 1.3C0.2 1.2 0.1 1.1 0.1 1 0.1 0.9 0.2 0.9 0.2 0.8L0.7 0.3C0.8 0.2 0.9 0.2 1 0.2 1.1 0.2 1.1 0.2 1.2 0.3L5.9 5Z" fill="white"/></svg>
			.blog__container-item(style="background: url(/images/blog-img.png) 50% 50% no-repeat; background-size: cover;")
				a(href="#").blog__container-item-category Гардероб
				.blog__container-item-date 14.06.2018
				.blog__container-item-title Главные цвета лета и осени 2018
					a(href="#").blog__container-item-title-link
						<svg width="6" height="11" viewBox="0 0 6 11" xmlns="http://www.w3.org/2000/svg" fill="none"><path d="M5.9 5C5.9 5.1 6 5.1 6 5.2 6 5.3 5.9 5.4 5.9 5.4L1.2 10.1C1.1 10.2 1.1 10.2 1 10.2 0.9 10.2 0.8 10.2 0.7 10.1L0.2 9.6C0.2 9.6 0.1 9.5 0.1 9.4 0.1 9.3 0.2 9.2 0.2 9.2L4.2 5.2 0.2 1.3C0.2 1.2 0.1 1.1 0.1 1 0.1 0.9 0.2 0.9 0.2 0.8L0.7 0.3C0.8 0.2 0.9 0.2 1 0.2 1.1 0.2 1.1 0.2 1.2 0.3L5.9 5Z" fill="white"/></svg>
			.blog__container-item(style="background: url(/images/blog-img.png) 50% 50% no-repeat; background-size: cover;")
				a(href="#").blog__container-item-category Гардероб
				.blog__container-item-date 14.06.2018
				.blog__container-item-title Главные цвета лета и осени 2018
					a(href="#").blog__container-item-title-link
						<svg width="6" height="11" viewBox="0 0 6 11" xmlns="http://www.w3.org/2000/svg" fill="none"><path d="M5.9 5C5.9 5.1 6 5.1 6 5.2 6 5.3 5.9 5.4 5.9 5.4L1.2 10.1C1.1 10.2 1.1 10.2 1 10.2 0.9 10.2 0.8 10.2 0.7 10.1L0.2 9.6C0.2 9.6 0.1 9.5 0.1 9.4 0.1 9.3 0.2 9.2 0.2 9.2L4.2 5.2 0.2 1.3C0.2 1.2 0.1 1.1 0.1 1 0.1 0.9 0.2 0.9 0.2 0.8L0.7 0.3C0.8 0.2 0.9 0.2 1 0.2 1.1 0.2 1.1 0.2 1.2 0.3L5.9 5Z" fill="white"/></svg>
			.blog__container-item(style="background: url(/images/blog-img.png) 50% 50% no-repeat; background-size: cover;")
				a(href="#").blog__container-item-category Гардероб
				.blog__container-item-date 14.06.2018
				.blog__container-item-title Главные цвета лета и осени 2018
					a(href="#").blog__container-item-title-link
						<svg width="6" height="11" viewBox="0 0 6 11" xmlns="http://www.w3.org/2000/svg" fill="none"><path d="M5.9 5C5.9 5.1 6 5.1 6 5.2 6 5.3 5.9 5.4 5.9 5.4L1.2 10.1C1.1 10.2 1.1 10.2 1 10.2 0.9 10.2 0.8 10.2 0.7 10.1L0.2 9.6C0.2 9.6 0.1 9.5 0.1 9.4 0.1 9.3 0.2 9.2 0.2 9.2L4.2 5.2 0.2 1.3C0.2 1.2 0.1 1.1 0.1 1 0.1 0.9 0.2 0.9 0.2 0.8L0.7 0.3C0.8 0.2 0.9 0.2 1 0.2 1.1 0.2 1.1 0.2 1.2 0.3L5.9 5Z" fill="white"/></svg>
			.blog__container-item(style="background: url(/images/blog-img.png) 50% 50% no-repeat; background-size: cover;")
				a(href="#").blog__container-item-category Гардероб
				.blog__container-item-date 14.06.2018
				.blog__container-item-title Главные цвета лета и осени 2018
					a(href="#").blog__container-item-title-link
						<svg width="6" height="11" viewBox="0 0 6 11" xmlns="http://www.w3.org/2000/svg" fill="none"><path d="M5.9 5C5.9 5.1 6 5.1 6 5.2 6 5.3 5.9 5.4 5.9 5.4L1.2 10.1C1.1 10.2 1.1 10.2 1 10.2 0.9 10.2 0.8 10.2 0.7 10.1L0.2 9.6C0.2 9.6 0.1 9.5 0.1 9.4 0.1 9.3 0.2 9.2 0.2 9.2L4.2 5.2 0.2 1.3C0.2 1.2 0.1 1.1 0.1 1 0.1 0.9 0.2 0.9 0.2 0.8L0.7 0.3C0.8 0.2 0.9 0.2 1 0.2 1.1 0.2 1.1 0.2 1.2 0.3L5.9 5Z" fill="white"/></svg>
			.blog__container-item(style="background: url(/images/blog-img.png) 50% 50% no-repeat; background-size: cover;")
				a(href="#").blog__container-item-category Гардероб
				.blog__container-item-date 14.06.2018
				.blog__container-item-title Главные цвета лета и осени 2018
					a(href="#").blog__container-item-title-link
						<svg width="6" height="11" viewBox="0 0 6 11" xmlns="http://www.w3.org/2000/svg" fill="none"><path d="M5.9 5C5.9 5.1 6 5.1 6 5.2 6 5.3 5.9 5.4 5.9 5.4L1.2 10.1C1.1 10.2 1.1 10.2 1 10.2 0.9 10.2 0.8 10.2 0.7 10.1L0.2 9.6C0.2 9.6 0.1 9.5 0.1 9.4 0.1 9.3 0.2 9.2 0.2 9.2L4.2 5.2 0.2 1.3C0.2 1.2 0.1 1.1 0.1 1 0.1 0.9 0.2 0.9 0.2 0.8L0.7 0.3C0.8 0.2 0.9 0.2 1 0.2 1.1 0.2 1.1 0.2 1.2 0.3L5.9 5Z" fill="white"/></svg>
			.blog__container-item(style="background: url(/images/blog-img.png) 50% 50% no-repeat; background-size: cover;")
				a(href="#").blog__container-item-category Гардероб
				.blog__container-item-date 14.06.2018
				.blog__container-item-title Главные цвета лета и осени 2018
					a(href="#").blog__container-item-title-link
						<svg width="6" height="11" viewBox="0 0 6 11" xmlns="http://www.w3.org/2000/svg" fill="none"><path d="M5.9 5C5.9 5.1 6 5.1 6 5.2 6 5.3 5.9 5.4 5.9 5.4L1.2 10.1C1.1 10.2 1.1 10.2 1 10.2 0.9 10.2 0.8 10.2 0.7 10.1L0.2 9.6C0.2 9.6 0.1 9.5 0.1 9.4 0.1 9.3 0.2 9.2 0.2 9.2L4.2 5.2 0.2 1.3C0.2 1.2 0.1 1.1 0.1 1 0.1 0.9 0.2 0.9 0.2 0.8L0.7 0.3C0.8 0.2 0.9 0.2 1 0.2 1.1 0.2 1.1 0.2 1.2 0.3L5.9 5Z" fill="white"/></svg>
			.blog__container-navigation
				a(href="#").blog__container-navigation__arrow-left.blog__container-navigation__arrow-disabled
					<svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.11433 1.40625C8.20362 1.49553 8.24826 1.59821 8.24826 1.71428C8.24826 1.83036 8.20362 1.93304 8.11433 2.02232L2.85094 7.28571L8.11433 12.5491C8.20362 12.6384 8.24826 12.7411 8.24826 12.8571C8.24826 12.9732 8.20362 13.0759 8.11433 13.1652L7.44469 13.8348C7.3554 13.9241 7.25272 13.9687 7.13665 13.9687C7.02058 13.9687 6.9179 13.9241 6.82862 13.8348L0.587544 7.59375C0.498258 7.50446 0.453615 7.40179 0.453615 7.28571C0.453615 7.16964 0.498258 7.06696 0.587544 6.97768L6.82862 0.736606C6.9179 0.64732 7.02058 0.602677 7.13665 0.602677C7.25272 0.602677 7.3554 0.64732 7.44469 0.736606L8.11433 1.40625Z" fill="white"/></svg>
				.blog__container-navigation__numbers
					a(href="#").blog__container-navigation__numbers-item 1
					a(href="#").blog__container-navigation__numbers-item 2
					a(href="#").blog__container-navigation__numbers-item 3
					a(href="#").blog__container-navigation__numbers-item ...
					a(href="#").blog__container-navigation__numbers-item 10
				a(href="#").blog__container-navigation__arrow-right
					<svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.68576 6.97768C7.77504 7.06696 7.81969 7.16964 7.81969 7.28571C7.81969 7.40179 7.77504 7.50446 7.68576 7.59375L1.44469 13.8348C1.3554 13.9241 1.25272 13.9687 1.13665 13.9687C1.02058 13.9687 0.917901 13.9241 0.828615 13.8348L0.158973 13.1652C0.0696869 13.0759 0.025044 12.9732 0.025044 12.8571C0.025044 12.7411 0.0696869 12.6384 0.158973 12.5491L5.42237 7.28571L0.158973 2.02232C0.0696869 1.93304 0.025044 1.83036 0.025044 1.71428C0.025044 1.59821 0.0696869 1.49553 0.158973 1.40625L0.828615 0.736606C0.917901 0.64732 1.02058 0.602677 1.13665 0.602677C1.25272 0.602677 1.3554 0.64732 1.44469 0.736606L7.68576 6.97768Z" fill="white"/></svg>

